.about {
  padding-bottom: 48px;
  border-bottom: 3px solid #888994;

  @include maxw($xs) {
    padding-bottom: 20px;
  } 

  &__items {
    display: flex;
    flex-wrap: wrap;
  } 

  &__item {
    border-top: 3px solid #888994;
    margin-bottom: 48px;
    padding-top: 32px;
    max-width: 595px;
    width: 100%;

    @include maxw($md) {
      max-width: 100%;
      padding-top: 15px;
      margin-bottom: 25px;
    }

    &:nth-child(odd) {
      margin-right: 30px;
      
      @include maxw($lg) {
        margin-right: 0;
      }
    }

    &:nth-child(2) {
      .about__image-link {
        background-image:url('../images/about/2.jpg');
      }
    }

    &:nth-child(3) {
      .about__image-link {
        background-image:url('../images/about/3.jpg');
      }
    }

    &:nth-child(4) {
      .about__image-link {
        background-image:url('../images/about/4.jpg');
      }
    }
  }

  &__inner {
    display: flex;

    @include maxw($sm) {
      flex-direction: column;
    }
  }

  &__image-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 27px 23px;
    max-width: 282px;
    min-height: 298px;
    width: 100%;
    background-image:url('../images/about/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;
    color: var(--text-white);

    @include maxw($sm) {
      max-width: 100%;
      min-height: 200px;
      height: auto;
      padding: 15px;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  &__links-items {
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include maxw($sm) {
      width: 100%;
      min-width: 100%;
    }
  }

  .article__info--about {
    color: var(--text-white);

    span {
      color: var(--text-white);
    }
  }

  &__image-title {
    margin-bottom: 28px;
    @extend %montserrat-600;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: -0.05em;
    transition: color 0.2s;
    @include line-climp(3);

    &:hover {
      color: var(--highlight);
    }
  }

  &__link-item {
    padding: 0 10px 22px 16px;
    border-bottom: 1px solid #E3E4E8;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 22px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 16px;
      background-image:url(../images/about/arrow-right.png);
      background-repeat: no-repeat;
      background-size: contain;
      top: 5px;
      left: 0;

    }
  } 

  &__link-title {

    &:hover .about__link{
      color:var(--highlight);
    }
  }

  &__link {
    display: inline-block;
    @extend %montserrat-600;
    color: var(--text-bold);
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: -0.05em;
    transition: color 0.2s;
    @include line-climp(2);
  }
}