.videos {
  padding: 32px 0 48px;

  &__inner {
    display: flex;
    margin: 0 -15px;
  } 

  &__item {
    flex: 0 1 50%;
    padding: 0 15px;
    display: flex;
  }

}

.video {

  &__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__link {
    display: block;
    width: 100%;
    height: 386px;
    margin-bottom: 24px;
    position: relative;

    .video__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__time {
    position: absolute;
    left: 32px;
    bottom: 32px;
    background-color:var(--accent);
    color: var(--text-white);
    padding: 8px 11px 8px 27px;
    border-radius: 5px;

    &::before {
      position: absolute;
      content: '';
      width: 10px;
      height: 12px;
      top: 14px;
      left: 11px;
      background-image:url(../images/videos/angle.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__heading {
    @extend %montserrat-600;
    font-size: 21px;
    line-height: 1.4;
    letter-spacing: -0.05em;
    color: var(--text-bold);
    transition: color 0.2s;
    margin-bottom: 17px;
    flex: 1 1 auto;

    &:hover {
      color: var(--highlight);
    } 
  }
}