.story {
  background-color: var(--text-white);

  &__top {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, 0.5);
      z-index: 0;
    }
  }

  &__title {
    padding: 250px 5px;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    @extend %montserrat-700;
    max-width: 781px;
    color: var(--text-white);
    margin: 0 auto;
    position: relative;
    z-index: 2;

    @include maxw($md) {
      font-size: 30px;
      padding: 200px 5px;
    }

    @include maxw($sm) {
      font-size: 25px;
      padding: 180px 5px;
    }

    @include maxw($xs) {
      font-size: 24px;
      padding: 120px 5px;
    }
  }

  &__info {
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    @extend %montserrat-500;
    padding-top: 24px;
    display: flex;
    justify-content: center;
  } 

  &__text {
    padding: 40px 0px 0px 78px;
    position: relative;

    @include maxw($md) {
      padding: 20px 0px 0px 0px;
    }
  }

  .social-list--story {
    position: absolute;
    left: 0;

    @include maxw($md) {
      display: none;
    }

    .social-list__item {
      margin-bottom: 8px;

      &:not(:last-child) {
        margin-right: 0px;
      }
    } 
  }

  &__paragraph {
    font-size: 18px;
    line-height: 1.4;
    color: var(--text);
    margin-bottom: 40px;

    &:first-child {
      margin-bottom: 30px;

      @include maxw($xs) {
        margin-bottom: 25px;
      }
    }

    @include maxw($xs) {
      margin-bottom: 25px;
    }
  }

  &__full-par {
    display: block;
    padding-top: 30px;

    @include maxw($xs) {
      padding-top: 0;
    }
  }

  &__text-link {
    color: #00BCD4;
    text-decoration: underline;
  }

  &__blockquote {
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    max-width: 470px;
    margin: 0 auto;
    color: var(--text-bold);
    margin-bottom: 44px;

    @include maxw($xs) {
      font-size: 24px;
      max-width: 100%;
    }
  }

  &__image {
    width: 243px;
    min-height: 270px;
    display: inline-block;

    @include maxw($xs) {
      width: 100%;
      height: 300px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image--1 {
    float: left;
    margin-right: 24px;

    @include maxw($xs) {
      margin-right: 0;
      float:none;
    }
  }

  &__image--2 {
    float: right;
    margin-left: 24px;

    @include maxw($xs) {
      margin-left: 0;
      float:none;
    }
  }

  &__image-descr {
    font-size: 13px;
    font-style: italic;
    line-height: 1.4;
    color: var(--text-bold);
  }

  &__text-subtitle {
    font-size: 28px;
    line-height: 1.4;
    color: var(--text-bold);
    font-weight: 400;
    margin-bottom: 31px;
    display: inline-block;

    @include maxw($xs) {
      font-size: 24px;
      text-align: center;
      display: block;
    }
  }

}

.tags {
  margin-bottom: 40px;
  
  &__list {
    display: flex;
    padding-left: 78px;

    @include maxw($md) {
      padding-left: 0;
      flex-wrap: wrap;
    }
  }

  &__item {
    margin-right: 8px;
    padding: 7px 12px;
    background-color: #F7F7F7;

    @include maxw($md) {
      margin: 8px;
    }

    &:last-child {
      margin-right: 0;

      @include maxw($md) {
        margin: 8px;
      }
    }
  }

  &__item--name {
    background-color: transparent;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-bold);
    @extend %Ssp-700;
    text-transform: uppercase;
    position: relative;
    padding-left: 20px;

    &::before {
      position: absolute;
      content: '';
      background-image:url('../images/article-page/tags.png');
      background-repeat: no-repeat;
      top: 10px;
      left: 0;
      background-size: contain;
      width: 16px;
      height: 14px;
    }
  }
}

.author {
  max-width: 738px;
  width: 100%;
  margin: 0 auto 40px;
  
  &__inner {
    padding: 32px;
    border: 1px solid #E3E4E8;
    display: flex;

    @include maxw($xs) {
      padding: 20px;
      flex-direction: column;
    }
  }

  &__image {
    max-width: 92px;
    width: 100%;
    height: 92px;
    margin-right: 26px;

    @include maxw($xs) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &__name {
    display: block;
    font-size: 15px;
    line-height: 1.2;
    @extend %Ssp-700;
    color: var(--text-bold);
  } 

  &__job {
    text-transform: uppercase;
    display: block;
    font-size: 13px;
    line-height: 1.15;
    color: #83858F;
    @extend %Ssp-600;
    margin-bottom: 16px;
  }

  &__descr {
    line-height: 1.4;
    text-transform: capitalize;
  }
}

.story-subscribe {
  margin-bottom: 48px;
  
  &__inner {
    padding: 52px 74px;
    background-color: #f7f7f7;

    @include maxw($md) {
      padding: 40px 25px;
    }
  
    @include maxw($xs) {
      padding: 40px 10px;
    }
  }

  &__form {
    @include flexb();

    @include maxw($sm) {
      flex-direction: column;
    }
  }

  &__label {
    text-transform: capitalize;
    color: var(--text-bold);
    padding-left: 26px;
    position: relative;
    margin-right: 30px;

    @include maxw($sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/article-page/mail.png);
      background-repeat:no-repeat;
      background-size: contain;
      top: 4px;
      left: 0;
      width: 18px;
      height: 18px;
    }
  }

  &__box {
    display: flex;

    @include maxw($xs) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__input {
    padding: 13px 10px 14px;
    font-size: 16px;
    line-height: 1.2;
    text-transform: capitalize;
    color: var(--text);
    border: 1px solid #E3E4E8;
    border-right: none; 
    background-color: var(--text-white);

    @include maxw($xs) {
      margin-bottom: 15px;
      width: 100%;
    }
  }

  &__btn {
    text-transform: uppercase;
    color: var(--text-white);
    background-color: #00BCD4;
    padding: 15px 14px 14px;
    border: none;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;

    @include maxw($xs) {
      width: 100%;
      display: block;
    }
  }
}

.related {

  &__inner {
    padding: 32px 0 48px;
    border-top: 3px solid #888994;
    border-bottom: 3px solid #888994;

    @include maxw($xs) {
     padding: 30px 0 35px;
    }
  }

  &__items {
    max-width: 738px;
    width: 100%;
    // margin: 0 -12px;

    @include maxw($xs) {
      max-width: 100%;
    }
  }

  &__item {
   padding: 0 12px;
  } 

  &__title {
    margin-bottom: 32px;

    @include maxw($xs) {
      font-size: 16px;
    }
  }

  &__link {
    display: block;
    margin-bottom: 24px;
    min-height: 150px;
    min-width: 230px;
    color: var(--text-white);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__subtitle {
    font-size: 15px;
    line-height: 1.4;
    @extend %Ssp-700;
    color: var(--text-bold);
  }

  .related-slider {
    width: 100%;

    .slick-arrow {
      position: absolute;
      top: -42px;
      transform: translateY(-50%);
      right: 0;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color:#F7F7F7;
      padding: 8px 11px; 
      border: 1px solid transparent;
      transition: border 0.2s;
  
      &:hover {
        border: 1px solid var(--text-bold);
      }
    }
  
    .arrow-left {
      right: 42px;
    }
  }

}