.editors {
  padding: 32px 0 48px;
  background-color: #F7F7F7;

  &__items {
    width: 100%;
    margin: 0 -15px;

    @include maxw($xs) {
      margin: 0;
    }
  }

  &__item {
    padding: 0 15px;

    @include maxw($xs) {
      padding: 0;
    }
  } 

  &__title {
    margin-bottom: 32px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    min-height: 197px;
    padding: 20px 24px;
    color: var(--text-white);
    text-align: center;

    background-repeat: no-repeat;
    background-size: cover;

    @include maxw($xl) {
      padding: 15px;
    }
  }

  .slick-arrow {
    position: absolute;
    top: -42px;
    transform: translateY(-50%);
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color:#fff;
    padding: 8px 11px; 
    border: 1px solid transparent;
    transition: border 0.2s;

    &:hover {
      border: 1px solid var(--text-bold);
    }
  }

  .arrow-left {
    right: 42px;
  }
} 