.filter-form {

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 336px;
    width: 100%;
    position: relative;

    @include maxw($lg) {
      max-width: 100%;
    }

    &:not(:last-child) {
     margin-bottom: 20px;
    }

    &::before {
      position: absolute;
      content: '';
      background-image:url(../images/about/arrow-right.png);
      background-repeat:no-repeat;
      background-size:contain;
      width: 6px;
      height: 16px;
      top: 15px;
      left: 2px;
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__checkbox {
    width: 336px;
    border: none;
    cursor: pointer;
    padding: 7px 0 8px 18px;
    border-bottom: 1px solid transparent;

    @include maxw($lg) {
      width: 100%;
    }
  }

  &__input:checked + .filter-form__checkbox {
    border-bottom: 1px solid #F44336;
  }

  &__number {
    padding: 7px 12px;
    background-color:#F2F3F5;
    position: absolute;
    right: 1px;
    width: 30px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}