.pagination {
  margin-bottom: 75px;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 7px;
    } 
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 11px;
    background-color:var(--text-white);
    color: var(--text);
    line-height: 1.25;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: color 0.2s, background-color 0.2s;

    &:focus,
    &:hover,
    &:active {
      background-color:var(--accent);
      color: var(--text-white);
    }
  }
}