.latest-news {

  &__inner {
    display: flex;

    @include maxw($lg) {
      flex-direction: column;
    }
  }

  &__main {
    max-width: 804px;
    width: 100%;
    margin-right: 50px;
    margin-bottom: 48px;
    border-top: 3px solid #888994;

    @include maxw($lg) {
      max-width: 100%;
    }
  }

  &__top {
    @include flexb();
    padding: 32px 0;

    @include maxw($lg) {
      flex-wrap: wrap;
    }

    @include maxw($sm) {
      padding: 30px 0 15px;
    }
  }

  &__title {
    margin-bottom: 0;
    margin-right: 15px;

    @include maxw($sm) {
      margin-bottom: 10px;
    }
  }

  &__tabs-nav {
    display: flex;

    @include maxw($lg) {
      flex-wrap: wrap;
    }
  }

  &__tab {

    @include maxw($sm) {
      padding: 5px 0;
    }
  
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__item {

    &--visible {
      display: block !important;
    }
  }

  &__tab-btn {
    @extend %Ssp-700;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--text-bold);
    transition: color 0.2s;
    background-color: transparent;
    border: none;
    padding: 0; 

    &:hover {
      color: var(--accent);
    }
  }

  &__tab--btn--active {
    color: var(--accent);
    pointer-events: none;
  }

  &__content {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @include maxw($md) {
      margin: 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    flex: 0 1 50%;
    padding: 15px;
    display: flex;

    @include maxw($md) {
      padding: 15px 0;
    }
  }

  &__aside  {
    width: 366px;

    @include maxw($lg) {
      width: 100%;
    }
  }
} 

.news-article {
  display: flex;
  flex-direction: column;
  max-width: 386px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: var(--text-white);
  height: 100%;

  @include maxw($md) {
    max-width: 386px;
    width: 100%;
  }
 
  &__image {
    display: block;
    position: relative;
    min-height: 270px;
    overflow: hidden;

    @include maxw($sm) {
      min-height: auto;
    }

    &:hover .news-article__img{
      transform: scale(1.1);
    }

    .news-article__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }
  }

  &__content {
    padding: 24px 32px 32px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include maxw($sm) {
      padding: 15px;
    }
  }

  &__title {
    margin-bottom: 16px;
    flex: 1 1 auto;

    &:hover .news-article__link{
      color: var(--highlight);
    }
  }

  &__link {
    @extend %montserrat-600;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.05em;
    color: var(--text-bold);
    display: inline-block;
    transition: color 0.2s;
  }

  &__info {
    margin-bottom: 24px;
  }

  &__text {
    margin-top: auto;
  }
}

//news-aside

.news-aside__item {
  padding: 32px 24px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: var(--text-white);

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  @include maxw($lg) {
    padding: 15px;
  }
  
}

.news-aside__title {
  @extend %montserrat-700;
  line-height: 1.25;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--text-bold);
}

.popular {

  &__title {
    margin-bottom: 24px;
  }

  &__items {
    @include maxw($lg) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @include maxw($lg) {
      width: 50%;
    }

    @include maxw($md) {
      max-width: 100%;
      width: 100%;
      align-items: center;
    }
  }

  &__image {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-right: 16px;

    @include maxw($md) {
      margin-right: 10px;
      min-width: 88px;
    }

    @include maxw($xs) {
      width: 60px;
      height: 60px;
      min-width: 60px;
    }

    .popular__img {
      width: 100%;
      height: 100%;;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__content {
    width: 215px;

    @include maxw($md) {
      width: 80%;
    }
  }

  &__subtitle {
    margin-bottom: 12px;

    &:hover .popular__link{
      color: var(--highlight);
    }
  }

  &__link {
    @extend %montserrat-600;
    line-height: 1.25;
    font-size: 14px;
    letter-spacing: -0.05em;
    color: var(--text-bold);
    transition: color 0.2s;
    display: inline-block;
  }
}

.newsletter {

  &__title {
    margin-bottom: 26px;

    @include maxw($lg) {
      margin-bottom: 10px;
    }
  }

  &__form {
    max-width: 318px;
    width: 100%;
  }

  &__label {
    position: relative;
    padding-left: 26px;
    color: #83858F;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/icons/letter.png);
      background-repeat: no-repeat;
      background-size: contain;
      top: 4px;
      left: 0;
      width: 18px;
      height: 18px;
    }
  }

  &__input {
    margin-top: 20px;
    padding: 12px 10px 13px;
    max-width: 224px;
    width: 100%;
    border: 1px solid #E3E4E8;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    line-height: 1.25;
    @extend %Ssp-400;
    color: #54555E;
    outline: none;

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      @extend %Ssp-400;
      color: #54555E;
    }

    @include maxw($lg) {
      margin: 10px 0;
      display: block;
      border-radius: 5px;
      min-width: 224px;
      max-width: 100%;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__btn {
    padding: 14px 15px;
    min-height: 46px;
    min-width: 81px;
    text-transform: uppercase;
    background-color: var(--accent);
    color: var(--text-white);
    font-size: 16px;
    line-height: 1.2;
    @extend %Ssp-700;
    border-radius: 0 5px 5px 0;
    border: none;
    outline: none;
    margin: 0 0 0 -3px;

    @include maxw($lg) {
      margin: 0;
      border-radius: 5px;
      min-width: 224px;
      width: 100%;
    }
  }
}



.aside-social {
  padding-bottom: 8px;

  &--adaptive {
    @include maxw($lg) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -11px;
  }

  &__item {
    padding: 0 11px 20px;

    &:first-child .aside-social__link {
      background-color: #55ACEE;
    }

    &:nth-child(2) .aside-social__link {
      background-color: #36528C;
    }

    &:nth-child(3) .aside-social__link {
      background-color: #DE4B39;
    }

    &:nth-child(4) .aside-social__link {
      background-color: #C13282;
    }

    &:nth-child(5) .aside-social__link {
      background-color: #BD081C;
    }

    &:nth-child(6) .aside-social__link {
      background-color: #0077B5;
    }
  }

  &__link {
    padding: 14px 28px;
    display: inline-block;
    align-items: center;
    text-transform: uppercase;
    @extend %Ssp-700;
    font-size: 14px;
    line-height: 1.3;
    color: var(--text-white);
    width: 148px;
    opacity: 1;
  }
  
  &__box {
    @include flexb();
  }

  &__image {
    margin-right: 12px;
    width: 13px;
    height: 14px;
    object-fit: contain;
  }
}

.banner {
  max-width: 728px;
  width: 100%;
  margin: 0 auto 48px;

  @include maxw($xs) {
    margin: 0 0 20px;
  }

  &__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 30px;

    background-image:url(../images/latest-news/banner-bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: bottom;

    @include maxw($xs) {
      padding: 28px 15px;
      flex-direction: column;
      text-align: center;
    } 
  }

  &__text {
    @extend %montserrat-700;
    line-height: 1.25;
    font-size: 18px;
    color: var(--text-bold);
    margin-right: 10px;

    @include maxw($xs) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  &__btn {
    color: var(--text-white);
    text-transform: uppercase;
    padding: 12px 25px;
    background-color:var(--text-bold);
    border: none;
    outline: none;
    @extend %montserrat-600;
    font-size: 14px;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
      background-color:var(--text-white);
      color: var(--text-bold);

    }
  }
}
