.hero-news {
  margin-bottom: 48px;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;

    @include maxw($lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include maxw($xs) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    grid-column: 1/3;
    // grid-column-start: 1;
    // grid-column-end: 3;
  }

  &__item:last-child{
    grid-column: 3/5;
    // grid-column-start: 3;
    // grid-column-end: 5;
    grid-row: 1/4;
    // grid-row-start: 1;
    // grid-row-end: 4;

    @include maxw($lg) {
      grid-column: 1/3;
      grid-row: 1/1;
    }
  }
}

.article {
  display: flex;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--text-white);
  border-radius: 5px;
  overflow: hidden;

  @include maxw($xs) {
    flex-direction: column-reverse;
  }

  &:nth-child(2) {
    flex-direction:row-reverse;

    @include maxw($xs) {
      flex-direction: column-reverse;
    }
  }

  &:last-child {
    .article__title-link {
      font-size: 32px;

      @include maxw($md) {
        font-size: 26px;
      }

      @include maxw($sm) {
        font-size: 22px;
      }

      @include maxw($xs) {
        font-size: 16px;
      }
    }
  }

  &__content {
    width: 50%;
    padding: 32px;

    @include maxw($sm) {
      padding: 15px;
    }

    @include maxw($xs) {
      width: 100%;
    }
  } 

  &__image {
    display: block;
    width: 50%;
    height: 100%;
    overflow: hidden;

    @include maxw($xs) {
      width: 100%;
      height: auto;
      max-height: 200px;
    }

    &:hover .article__img {
      transform: scale(1.1);
    }

    .article__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s linear;
    }
  }

  &__title {
    margin: 0 auto 16px;

    &:hover .article__title-link{
      color: var(--highlight);
    }
  }

  &__title-link {
    @extend %montserrat-600;
    font-size: 16px;
    line-height: 1.4;
    color:var(--text-bold);
    display: inline-block;
    transition: color 0.2s;

    // @include maxw($xs) {
    //   font-size: 14px;
    // }
  }

  &__info {
    display: flex;
    @extend %Ssp-600;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.2;
    color: #83858F;

    span {
      color: var(--accent);
    }
  }

  &--big {
    flex-direction: column-reverse;

    .article__content{
      width: 100%;
    }

    .article__image {
      width: 100%;
      height: 362px;

      @include maxw($md) {
        height: 300px;
      }

      @include maxw($sm) {
        height: auto;
      }
    }

    .article__title {
      font-size: 32px;
      line-height: 1.2;
      letter-spacing: -0.05em;

      @include maxw($sm) {
        font-size: 24px;
      }

      @include maxw($xs) {
        font-size: 20px;
      }
    }
  }
}